body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0%;
}

.flexy{
    display:flex;
    width:100vw;
    height:100vh;
    justify-content:center;
    align-content:center;

}

.kitty{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    align-content:center;
    justify-content:center;
    text-align:center;
    font-size:64px;
    white-space:preserve;
}

.preserve-space{
    white-space:preserve;
}

#head, #torso, #arms, #bottom, #feet{
    white-space:collapse;
}


.kitty p{
    padding:0%;
    margin:0%;
}

.buttons{
    display:flex;
    flex-direction:column;
    height:100vh;
    justify-content:space-around;
    padding-right:15px;

}

.buttons button{
    font-family:monospace;
    background-color:aliceblue;
    padding:10px;
    color:rgb(20, 49, 91);
    border-radius:5px;
    border:dotted;
    cursor:pointer;
    transition-duration:0.5s;

}

.buttons button:hover{
    background-color:aquamarine;
    padding:20px;

}